<div class="navigation-bar">
    {% for item in site.data.navigation %}
        <a href="{{ item.link }}"
            {% if item.name == "HOME" and page.url == item.link %}
                class="left current"
            {% elsif item.name == "HOME" %}
                class="left usual"
            {% elsif page.url == item.link %}
                class="right current"
            {% else %}
                class="right usual"
            {% endif %}
        >
            {{ item.name }}
        </a>
    {% endfor %}
</div>

<!--{% for item in site.data.navigation %}-->
<!--{% if item.name == "HOME" %}-->
<!--<a href="{{ item.link }}"-->
<!--   {% if page.url == item.link %}-->
<!--   class="left current"-->
<!--   {% else %}-->
<!--   class="left usual"-->
<!--   {% endif %}-->
<!--&gt;-->
<!--    {{ item.name }}-->
<!--</a>-->
<!--{% else %}-->
<!--<a href="{{ item.link }}"-->
<!--   {% if page.url == item.link %}-->
<!--   class="right current"-->
<!--   {% else %}-->
<!--   class="right usual"-->
<!--   {% endif %}-->
<!--&gt;-->
<!--    {{ item.name }}-->
<!--</a>-->
<!--{% endif %}-->
<!--{% endfor %}-->
