@mixin icon-before {
  content: "";
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 8px 0 0;
}

.icon {
  margin-top: 50px;

  p:before {
    @include icon-before;
  }

  p.geo-marker:before {
    background-image: url("/assets/images/icons/geoMarker.png");
  }

  p.phone:before {
    background-image: url("/assets/images/icons/phone.png");
  }

  p.envelope:before {
    background-image: url("/assets/images/icons/envelope.png");
  }
}

.button-icon:before {
  @include icon-before;
}

.button-icon-paper-plane:before {
  background-image: url("/assets/images/icons/paperPlane.png");
}