@import "navigationBar";
@import "socialLinks";
@import "icons";
@import "inputs";

// Example
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}

.gray {
  @include prefix(filter, grayscale(50%), moz webkit);
}
// Example

@mixin extra-large-text {
  font-size: 64px!important;
}

@mixin large-text {
  font-size: 36px!important;
}

@mixin middle-text {
  font-size: 18px!important;
}


// Containers
.contact-container {
  color:  #000;
  background-color: #f1f1f1;
  padding: 128px 16px;
}

// Displaying
.display-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%,-50%);
}

.display-bottom-left {
  position: absolute;
  left: 0;
  bottom: 50px;
}

// Buttons
.button {
  @include middle-text;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text: {
    decoration: none;
    align: center;
  }
  cursor: pointer;
  white-space: nowrap;

  color: #000;
  background-color: #fff;
  opacity: 0.60;

  margin-top: 16px;
  padding: 12px 24px;

  &:hover {
    opacity: 1.0;
  }
}

// Images
.home-image-background {
  position: relative;
  filter: grayscale(50%);
  background: {
    image: url("/assets/images/mac.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100%;
}

.map-image {
  max-width: 100%;
  height: auto;
  filter: grayscale(75%);
  width: 100%;
  margin-top: 50px;
}

// Texts
.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.extra-large-title {
  @include extra-large-text;
}

.large-title {
  @include large-text;
}

.middle-title {
  @include  middle-text;
}
