@import "navigationBar";
@import "socialLinks";

@mixin extra-large-text {
  font-size: 64px!important;
}

@mixin large-text {
  font-size: 36px!important;
}

@mixin middle-text {
  font-size: 18px!important;
}

@mixin display-container {
  position: relative;
}

@mixin grayscale-min {
  filter: grayscale(50%);
}

.image-background {
  @include display-container
  @include grayscale-min
  background-image: url("/assets/images/mac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.text-white {
  color: #fff;
}

.display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
}

.display-bottom-left {
  position: absolute;
  left: 0;
  bottom: 50px;
}

.button {
  @include middle-text;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  color: #000;
  background-color: #fff;
  opacity: 0.60;

  margin-top: 16px;
  padding: 12px 24px;
}

.button:hover {
  opacity: 1.0;
}

.extra-large-title {
  @include extra-large-text;
}

.large-title {
  @include large-text;
}

.middle-text {
  @include  middle-text;
}
