// Variables
$currentLinkColor: cyan;
$usualLinkColor: green;
$usualLinkHoverColor: #555;
$navigationBarColor: #ddd;

@mixin item-layout {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation-bar {
  overflow: hidden;
  background-color: $navigationBarColor;

  a.left {
    float: left;
  }

  a.right {
    float: right;
  }

  a.current {
    color: $currentLinkColor;
    background-color: $usualLinkColor;
    @include item-layout;
  }

  a.usual {
    @include item-layout;
    color: black;
    &:hover {
      background-color: $usualLinkHoverColor;
      color: white;
    }
  }
}