// Variables

.social-links {
  padding: 15px 0 15px 0;

  a {
    padding: 16px 16px 0 16px;
    background: {
      size: 38px;
      repeat: no-repeat;
      position: center;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  a.facebook {
    background-image: url("/assets/images/icons/facebookColor.png");
  }

  a.instagram {
    background-image: url("/assets/images/icons/instagramColor.png");
  }

  a.snapchat {
    background-image: url("/assets/images/icons/snapchatColor.png");
  }

  a.pinterest {
    background-image: url("/assets/images/icons/pinterestColor.png");
  }

  a.twitter {
    background-image: url("/assets/images/icons/twitterColor.png");
  }

  a.linkedin {
    background-image: url("/assets/images/icons/linkedinColor.png");
  }
}